body {
  background-color: rgb(251, 255, 230);
  margin: 0;
}

.header {
  background-color: black;
  width: 100%;
  height: 8vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.menuHamb {
  display: none;
}

.menuHamb img {
  height: 8vh;
}

.menu a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5dvh;
  color: aliceblue;
}

@media screen and (max-width: 700px) {
  .header {
    display: flex;
    justify-content: end;
  }

  .nav {
    width: 15%;
  }

  .menu {
    flex-direction: column;
    width: 25vw;
    top: 8vh;
    right: 0;
    position: absolute;
    visibility: hidden;
    background-color: black;
  }

  .menuHamb {
    display: flex;
    justify-content: end;
    position: absolute;
  }

  .nav:hover .menu{
    visibility: visible;
  }
}
