<section class="lista-curriculos">
    <div *ngFor="let curriculo of curriculos">
        <div class="list-tile">
            <img src="assets/img/{{curriculo.fotoPerfil}}.jpg" alt="">
        <div class="list-body">
            <h5 class="list-title">Nome: {{curriculo.nome}}</h5>
            <h5 class="list-title">Interesse: {{curriculo.interesses}}</h5>
            <p class="list-text">Email: {{curriculo.email}}</p>
            <p class="list-text">Contato:{{curriculo.contato}}</p>
        </div>
        </div>
    </div>
    <div class="rodape"></div>
</section>

