<section class="cabecalho">
  <h1>Admin</h1>
  <p>Bem-vindo administrador, aqui você pode gerenciar o sistema</p>
</section>
<br>
<div class="row">
    <div class="col">
        <div class="container">
            <h2>Painel de Vagas</h2>
            <p>Aqui você pode administrar e visualizar todas as vagas cadastradas no sistema</p>
            <a href="/painel-vagas" type="button" class="btn btn-primary">Visualizar</a>
        </div>
    </div>
        <div class="col">
        <div class="container">
            <h2>Painel de Currículos</h2>
            <p>Aqui você pode administrar e visualizar todas os currículos dos usuários do sistema</p>
            <a href="/painel-curriculos" type="button" class="btn btn-primary">Visualizar</a>
        </div>
    </div>
</div>