*{
  text-align: center;
  margin: auto;
}

.form{
  display: flex;
  flex-direction: column;
  width: 75%;
}

input{
  border: none;
  border-radius: 5px;
  background-color: bisque;
  margin: 5px 0;
  padding: 5px;
}

textarea{
  border: none;
  border-radius: 5px;
  background-color: bisque;
  margin: 5px 0;
  padding: 5px;
}